<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# 
                  website: http://ogp.me/ns/website# article: http://ogp.me/ns/article#">
<head>
	<title>NickMoline re:coded</title>
	<meta name="description" content="Nick Moline's Code World" />
	{% include head_scripts.html %}
</head>
<body>

	{% include menu.html %}

	<div class="container">
		<div class="hero-unit">
			<h1>NickMoline re:coded</h1>
			<p>Welcome to the coding home of Nick Moline.  This is the starting point for Nick's coding projects.</p>
		</div>

		<div class="row">
			<div class="span4">
				<h2><a href="/justia.html">Justia</a></h2>
				<p>Nick is a Senior Software Engineer for <a href="http://www.justia.com/">Justia.com</a>, a company dedicated to making legal information freely available for all.</p>
				<p><a class="btn" href="/justia.html">Nick's Work at Justia</a></p>
			</div>
			<div class="span4">

			</div>
			<div class="span4">

			</div>
		</div>

		<footer>
			<div class="row">
				<div class="span6">
					&copy; 2012 <a href="http://www.nick.pro/">Nicholas Moline</a>
				</div>
				<div class="span6" style="text-align:right;">
					Powered by <a href="http://pages.github.com">Github Pages</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://www.glyphicons.com/">Glyphicons</a>
				</div>
			</div>
		</footer>

	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
