	<meta charset="utf-8" />

	<meta name="twitter:card" content="summary" />

	<meta property="og:site_name" content="NickMoline re:coded" />
	
	<meta property="fb:profile_id" content="https://www.facebook.com/nickmoline" />

	<meta name="author" content="Nicholas Moline" />
	<link rel="author" href="https://plus.google.com/100038801356570551641/posts" />
	<meta property="article:author" content="https://www.facebook.com/nickmoline" />
	<meta name="twitter:site" content="@nickmoline" />
	<meta name="twitter:creator" content="@nickmoline" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<style type="text/css">
	
		@media (min-width: 980px) {
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		}

	</style>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
