<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# 
                        fb: http://ogp.me/ns/fb# 
                        website: http://ogp.me/ns/website# 
                        article: http://ogp.me/ns/article#">
<head>
    <meta charset="utf-8" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:site_name" content="{{site.title}}" />
    
    <title>{% if page.title %}{{ page.title }} | {% endif %} {{site.title}}</title>
    <meta property="og:title" content="{{page.title}}" />
    <meta name="twitter:title" content="{{page.title}}" />
    
    <meta name="description" content="{% if page.description %}{{page.description}} | {% endif %}{{site.authorname}}'s Code World" />
    <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.authorname}}'s Code World{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.authorname}}'s Code World{% endif %}" />

    <meta property="og:url" content="{{site.baseurl}}{{page.url}}" />
    <meta name="twitter:url" content="{% if page.shorturl %}{{page.shorturl}}{% else %}{{site.baseurl}}{{page.url}}{% endif %}" />
    
    <meta name="robots" content="index, follow" /> 

	    
	<meta property="fb:profile_id" content="{{site.facebookid}}" />
    <meta property="fb:admins" content="{{site.facebookid}}" />

	<meta name="author" content="{{site.authorname}}" />
	
    <!-- Nick's other profiles -->
    <link rel="author" href="{{site.googleplus}}" />
    <link rel="author" href="{{site.facebookurl}}" />
    <link rel="author" href="https://twitter.com/{{site.twittername}}" />
    <link rel="author" href="{{site.linkedin}}" />
    <link rel="author" href="{{site.github}}" />

    <meta property="article:author" content="{{site.facebookurl}}" />
	{% if site.twittername %}
        <meta name="twitter:site" content="@{{site.twittername}}" />
    {% endif %}
    {% if site.twittername || page.twittername %}
    	<meta name="twitter:creator" content="@{% if page.twittername %}{{page.twittername}}{% else %}{{site.twittername}}{% endif %}" />
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<style type="text/css">
	
		@media (min-width: 980px) {
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		}

	</style>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{site.baseurl}}">{{site.title}}</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="http://www.nick.pro/"><i class="icon-home icon-white"></i> Nick.pro</a></li>
						<li class="active dropdown">
							<a href="{{site.baseurl}}" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-hdd icon-white"></i> Code <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li{%if page.pagename == 'code'%} class="active"{% endif %}><a href="{{site.baseurl}}"><i class="icon-hdd"></i> Code</a></li>
								<li class="divider"></li>
								<li{%if page.pagename == 'justia'%} class="active"{% endif %}><a href="{{site.baseurl}}justia.html"><i class="icon-briefcase"></i> Justia Projects</a></li>
								<li{%if page.pagename == 'personal'%} class="active"{% endif %}><a href="{{site.baseurl}}personal.html"><i class="icon-user"></i> Personal Projects</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="http://www.nick.pro/contact" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment icon-white"></i> Contact {{site.authorshort}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://www.nick.pro/contact"><i class="icon-comment"></i> Contact {{site.authorshort}}</a></li>
								<li class="divider"></li>
								<li class="nav-header">Social Media</li>
								<li><a href="https://twitter.com/{{site.twittername}}" title="Follow @{{site.twittername}} on Twitter"><img src="/glyphicons/png/glyphicons_411_twitter.png" alt="Follow @{{site.twittername}} on Twitter" width="16" height="16" /> Twitter</a></li>
								<li><a href="{{site.facebookurl}}" title="Follow nickmoline on Facebook"><img src="/glyphicons/png/glyphicons_410_facebook.png" alt="Follow {{site.authorname}} on Facebook" width="16" height="16" /> Facebook</a></li>
								<li><a href="{{site.googleplus}}" title="Circle {{site.authorname}} on Google+"><img src="/glyphicons/png/glyphicons_382_google_plus.png" alt="Circle {{site.authorname}} on Google+" width="16" height="16" /> Google+</a></li>
								<li><a href="http://www.linkedin.com/in/nickmoline" title="Connect with {{site.authorname}} on Linkedin"><img src="/glyphicons/png/glyphicons_397_linked_in.png" alt="Connect with {{site.authorname}} on LinkedIn" width="16" height="16" /> LinkedIn</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="http://www.amazon.com/?&amp;tag=capslog-20&amp;camp=211493&amp;creative=379973&amp;linkCode=ez&amp;adid=1PRSNK7GXJ04D1CX9FWZ&amp;" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-shopping-cart icon-white"></i> Support Nick <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://www.amazon.com/?&amp;tag=capslog-20&amp;camp=211493&amp;creative=379973&amp;linkCode=ez&amp;adid=1PRSNK7GXJ04D1CX9FWZ&amp;" title="Shop on Amazon"><img src="/glyphicons/png/glyphicons_387_amazon.png" width="16" height="16" alt="Shop on Amazon.com" /> Amazon.com</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="container">

		<div class="row">
			<div class="span8">
				{{ content }}
			</div>
			<div class="span4 hidden-phone">
				<div class="well widget">
					<h3>{{site.authorname}} on the Web</h3>

					<div class="textwidget">
						<a href="{{site.googleplus}}" title="Nick on Google+" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/google-plus.png" title="{{site.authorname}} on Google+" alt="{{site.authorname}} on Google+"></a>
						<a href="https://twitter.com/{{site.twittername}}" title="Follow @{{site.twittername}} on Twitter" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/twitter-2.png" title="Follow @{{site.twittername}} on Twitter" alt="Follow @{{site.twittername}} on Twitter"></a>
						<a href="{{site.facebookurl}}" title="{{site.authorname}} on Facebook" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/facebook.png" title="{{site.authorname}} on Facebook" alt="{{site.authorname}} on Facebook"></a>
						<a href="{{site.linkedin}}" title="{{site.authorname}} on LinkedIn" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/linkedin.png" title="{{site.authorname}} on LinkedIn" alt="{{site.authorname}} on LinkedIn"></a>
						<a href="http://pinterest.com/nickmoline/" title="{{site.authorname}} on Pinterest" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/pinterest.png" title="{{site.authorname}} on Pinterest" alt="{{site.authorname}} on Pinterest"></a>
						<a href="http://www.myspace.com/nickmoline" title="{{site.authorname}} on Myspace" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/myspace.png" title="{{site.authorname}} on Myspace" alt="{{site.authorname}} on Myspace"></a>
						<a href="https://foursquare.com/nickmoline" title="{{site.authorname}} on Foursquare" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/foursquare.png" title="{{site.authorname}} on Foursquare" alt="{{site.authorname}} on Foursquare"></a>
						<a href="http://about.me/nickmoline" title="About {{site.authorname}}" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/aboutme.png" title="{{site.authorname}} on about.me" alt="{{site.authorname}} on abuot.me"></a>
						<a href="http://www.meetup.com/members/15833761/" title="Meet Nick" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/meetup.png" title="Meet Nick" alt="Meet Nick"></a>
						<a href="https://picasaweb.google.com/100038801356570551641" title="Nick's Photos on Picasa" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/picasa.png" title="Nick's Photos on Picasa" alt="Nick's Photos on Picasa"></a>
						<a href="http://www.youtube.com/user/nickmoline" title="{{site.authorname}} on YouTube"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/youtube.png" title="{{site.authorname}} on Youtube" alt="{{site.authorname}} on YouTube"></a>
						<a href="https://vimeo.com/nickmoline" title="{{site.authorname}} on vimeo"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/vimeo.png" title="{{site.authorname}} on vimeo" alt="{{site.authorname}} on vimeo"></a>
						<a href="http://www.slideshare.net/nickmoline" title="{{site.authorname}}'s Presenations on SlideShare"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/slideshare.png" title="{{site.authorname}}'s Presenations on SlideShare" alt="{{site.authorname}}'s Presenations on SlideShare"></a>
						<a href="{{site.github}}" title="{{site.authorname}} on github" rel="author"><img src="//s3.amazonaws.com/icons.nick.pro/vsmi/32px/github.png" title="{{site.authorname}} on github" alt="{{site.authorname}} on github"></a>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="span6">
					<div><a href="{{site.baseurl}}" class="hidden-phone">{{site.title}}</a> &copy; 2012 &ndash; {{site.time | date: "%Y"}} <a href="http://www.nick.pro/">{{site.authorname}}</a></div>
					<div class="hidden-phone">Last Built {{site.time | date: "%Y-%m-%d %H:%M:%S"}}</div>
				</div>
				<div class="span6 hidden-phone" style="text-align:right;">
					Powered by <a href="http://pages.github.com">Github Pages</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://www.glyphicons.com/">Glyphicons</a>
				</div>
			</div>
		</footer>

	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1093504-7']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>
</body>
</html>

